<style>
  i{
    color: #911
  }
  .input-leo {
    padding: 10px 5px !important;
    width: 100%;
    border: 2px solid #000;
  }
  .btn-leo {
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: #F50F55;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: bold;
  }
  .btn-leo:hover {
    opacity: 0.6;
  }
  .input-leo:hover{
    border: 2px solid #901;
  }
</style>
<h1 style="text-align:center;">Entrar</h1>
<div class="container">
  <div class="col-xs-12">
    
  </div>

  <div class="">
    <%= form_for :session, url: entrar_path, method: :post do |f| %>

      <div class="form-group">
        <%= f.label :email %> <i>*</i>
        <%= f.email_field :email, placeholder: 'Email', class: 'input-leo' %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>*</i>
        <%= f.password_field :password, placeholder: 'Senha', class: 'input-leo' %>
      </div>
      

      <%= f.submit 'Entrar', class: 'btn-leo' %>

    <% end %>
  </div>
</div>