<nav style="background-color: #000; display: flex; align-items: center" class="navbar  navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header ">
      <%= link_to 'LOGO', root_url, class: 'navbar-brand' %>
    </div>

  <!-- Conteudo exibido em telas maiores e que serao escondidos em telas menores -->
  <div>
    <ul class="ul-leo">

      <% if !user_signed_in? %>
        <li>
          <%= link_to 'Entrar', entrar_path %>
      </li>
       <li>
          <%= link_to 'Nova Conta', cadastro_path %>
        </li>
      <% else %>
        
        <li style="margin-right: 30px">
          <%= link_to 'Minha Pagina', user_contacts_path(current_user) %>
        </li>
        <li style="margin-right: 30px">
          <%= link_to 'Editar', edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Sair', sair_path, method: :delete %>
        </li>
        <li style="margin-right: 100px;" role="separator"></li>
        <li style="color: #fff;">
            <%= current_user.name %> <span class="caret"></span>
        </li>
        

      <% end %>

    </ul>

  </div>

  </div>

</nav>
